main {
    flex: 1 1 auto;
    min-height: 0;  /*Stops main to expand for overflow of pattern container*/

    display: flex;
    flex-direction: column;
}

#patterncontainer {
    overflow-y: scroll;
}::-webkit-scrollbar {
    display: none;
}

#controlcontainer {
    background-color: #212529;
    flex: 0 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cbtn {
    flex: 1 1 auto;
}


#canvascontainer {
    flex: 1 1 auto;

    display: flex;
}

canvas {
    flex: 1 1 auto;
    background-color: white;
}

#backarrow {
    border: solid white;
    border-width: 0px 5px 5px 0px;
    display: inline-block;
    padding: 6px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
