#main {
    flex: 1 1 auto;
    display: flex;
}

#home {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

#canvasContainer {
    background:#50A;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#controlContainer {
    background: orange;
    flex: 0 1 auto;
    height: 20%;
}

.navbar-toggler-icon {
    display: none;
}

@media only screen and (max-width: 800px) {
    #main {
        position: relative;
    }

    .navbar-toggler-icon {
        display: block;
    }
}
