#sideBar {
    background-color: #1d2124;
    flex: 0 0 auto;
    width: 20%;
    height: 100%;
    z-index: 1;
    color: white;
}

@media only screen and (max-width: 800px) {
    
    #sideBar {
        position: absolute;
        width: 100%;
        opacity: 0;
    }
}
