#sideBar {
    background-color: #1d2124;
    flex: 0 0 auto;
    width: 20%;
    height: 100%;
    z-index: 1;
    color: snow;
    padding: 1%;
}

#infoIcons {
    height: 25px;
    line-height: 0;
    margin: 2px;
}

hr {
    border-color: white;
    border-width: thin;
}

@media only screen and (max-width: 800px) {
    
    #sideBar {
        position: absolute;
        width: 100%;
        opacity: 0;
        padding: 5%;
    }
}
