#SolutionPannel {
  background-color: #212529;
  z-index: 999;
  position: absolute;
  max-width: 500px;
  width: 100%;
  right: 0;
  height: 90%;
}

#Solution-Carousel {
  overflow: scroll;
}
::-webkit-scrollbar {
  display: none;
}

#Solution-Carousel img {
  width: 100%;
}
